.example-card {
    max-width: auto;
    margin: 25px;
}

.example-label {
    font-size: 32px;
    font-family: Roboto;
    text-align: justify;
}

.example-button-row {
    display: table-cell;
    min-width: 120px;
}

.example-table {
    max-width: auto;
    display: table-cell;
}

.ex-table {
    max-width: auto;
    display: table-cell;
}