<div>
    <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile [colspan]="4" [rowspan]="1">
            <h2>Users</h2>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<mat-card class="example-card mat-elevation-z8">
    <div>
        <p> Selected Users: {{itens.selectedOptions.selected.length}}</p>
        <button mat-icon-button color="accent" routerLink="/editUser"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button color="warn" (click)="delete(itens.selectedOptions.selected)"><mat-icon>delete</mat-icon></button>
    </div>

</mat-card>

<mat-card class="example-card mat-elevation-z8">
    <mat-selection-list #itens>
        <mat-list-option *ngFor="let user of users" [value]="user">
            {{user.nome}}
        </mat-list-option>
    </mat-selection-list>
</mat-card>