<mat-grid-list cols="1" rows="1" rowHeight="2:1">
    <mat-grid-tile>
        <mat-card>
            <form #f="ngForm" (ngSubmit)="login(f)" novalidate>
                <mat-card-title>EPersonal</mat-card-title>
                <mat-card-subtitle>Bem Vindo!</mat-card-subtitle>
                <mat-card-subtitle>Login</mat-card-subtitle>
                <mat-card-content>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Usuário</mat-label>
                        <input matInput placeholder="Nome de usuário" name="nome" ngModel required #nome="ngModel">
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Senha</mat-label>
                        <input matInput placeholder="Senha" name="senha" ngModel required #senha="ngModel">
                    </mat-form-field>

                </mat-card-content>

                <mat-card-actions>
                    <mat-grid-list cols="4" rows="1" rowHeight="2:1">
                        <mat-grid-tile [colspan]="4" [rowspan]="1">
                            <button style="margin-left: auto;" mat-raised-button type="submit">LOGIN</button>
                        </mat-grid-tile>
                    </mat-grid-list>
                </mat-card-actions>
                <mat-card-footer>
                    <!-- <mat-progress-bar mode="indeterminate "></mat-progress-bar> -->
                </mat-card-footer>
            </form>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>