<section>
    <div class="example-label">
        <mat-card class="example-card">
            <section>
                <div class="example-label">Projetos</div>
                <div class="example-button-row">
                    <button mat-raised-button>Ver</button>
                </div>
            </section>
        </mat-card>
    </div>
    <div class="example-label">
        <mat-card class="example-card">
            <section>
                <div class="example-label">Users</div>
                <div class="example-button-row">
                    <button mat-raised-button routerLink="/users">Ver</button>
                </div>
            </section>
        </mat-card>
    </div>
</section>